<h2><%= l(:plugin_active_issues) %></h2>
<% html_title(l(:plugin_active_issues)) %>

<% if @query.valid? %>
<% if @issues.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<%= render :partial => 'issues/list', :locals => {:issues => @issues, :query => @query} %>
<p class="pagination"><%= pagination_links_full @issue_pages, @issue_count %></p>
<% end %>

<% end %>
<%= call_hook(:view_issues_index_bottom, { :issues => @issues, :project => @project, :query => @query }) %>

<% content_for :sidebar do %>
    <h3><%= l(:plugin_active_issues_by_users) %></h3>
    <%= link_to l(:plugin_active_issues_all_users), :controller => "active_issues", :project_id => @project, :user => :all %></br>
    <% @users.each do |user| %>
    	<%= link_to user.to_s + " (#{user.active_issues_in_project(@project).count})", :controller => "active_issues", :project_id => @project, :user => user %></br>
    <% end %>

<% end %>


<%= context_menu issues_context_menu_path %>
